$background: #e2e2e2;
$lighterBlack: #333;
$content: #ffffff;
$textArea: #e2e2e2; 
$enabled: #275fb4;
$disabled: #091c32;
$disabledText: #5d5c5c;
$backtopage: black;
$darkerWhite: #ece8e8;
$darkestWhite: #BBB5B5;
$sliderAfter: #BBB5B5;
$sliderBefore: #223C5B;
//#4d4c4c
