$background: rgb(13, 17, 23);
$content: #333;
$textArea: rgb(141, 136, 136); 
//#4d4c4c
$enabled: #223C5B;
$disabled: #091c32;
$disabledText: #5d5c5c;
$backtopage: black;
$darkerWhite: #ece8e8;
$darkestWhite: #BBB5B5;
