$background: #333;
$content: #5d5c5c;
$textArea: rgb(141, 136, 136); 
//#5d5c5c; #4d4c4c
$secondary-color: #BBB5B5;
$enabled: #223C5B;
$disabled: #091c32;
$backtopage: black;
$darkerWhite: #ece8e8;
$darkestWhite: #BBB5B5;
