.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  overflow-y: auto;
  div {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 15px;
    span {
      width: 70%;
      height: 100%;
      word-wrap: break-word
    };
    div {
      width: 120px;
      height: 100%;
      align-items: center;
      justify-content: space-around;
      i {
        margin-left: 5px;
        color: crimson;
        font-size: 25px;
        &:hover {
          opacity: 0.7;
          transition: 0.3s;
        }
      }
      button {
        width: 70px;
        height: 30px;
        background: $enabled;
        border-radius: 5px;
        border: none;
        color: $darkerWhite;
        font: 100 15px Arial , Helvetica , sans-serif;
        text-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px;
        transition: .4s;
        outline: none;
        &:hover {
          opacity: 0.7;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 630px) {
  .right-side {
    margin-left: 5%;
    width: 95%;
    height: 50%;
    div {
      width: 90%;
    }
  }
}