  .switch {
    position: relative;
    top: 15px;
    left: 15px;
    display: inline-block;
    width: 62px;
    height: 24px;
    input {
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + .slider {
        background-color: $sliderBefore;
      }
      &:checked + .slider:before {
        transform: translate(26px)
      }
      &:checked + .slider:before {
        background-color: #0784b5;
      }
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $sliderAfter;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .slider:before {
      position: absolute;
      content: "";
      height: 34px;
      width: 34px;
      bottom: -5px;
      background-color: #0784b5;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .slider {
      border-radius: 34px;
    }
    .slider:before {
      border-radius: 50%;
    }
  }